
@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>


<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<a href="/invoice/create" class="btn btn-primary">Add New Invoice</a>
<div style="width:90%; margin:30px auto" class="tablecontainer">
    <table id="dataTable" style="margin-top:20px">
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Total Price</th>
                <th>Details</th>      
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts{

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                var table = $("#dataTable").DataTable({
                    "ajax": {
                        "url": '/Invoice/GetInvoices',
                        "type": "get",
                        "datatype": "json",
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'csv', 'excel', 'pdf', 'print'
                    ],
                    "columns": [
                        { "data": "Id", "autoWidth": true },
                        { "data": "FinalTotal", "autoWidth": true },
                        {
                            "data": "Id", width: "50px", "render": function (data) {
                                return '<a href="/Invoice/Details/' + data + '">Details</a> ';
                            }
                        },
      
                    ]
                });
            });

        </script>

}