@{
    ViewBag.Title = "Home Page";
}

<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



<div style="width:90%; margin:30px auto" class="tablecontainer" >
    <table id="dataTable" style="margin-top:20px">
        <thead>
            <tr>
                 <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#dataTable").DataTable({
                "ajax": {
                    "url":'/Home/GetUsers',
                    "type": "get",
                    "datatype": "json",
                },
                dom: 'Bfrtip',
                buttons: [
                     'csv', 'excel', 'pdf', 'print'
                ],
                "columns": [
                    { "data": "Id", "autoWidth": true },
                    { "data": "UserName", "autoWidth": true },
                    { "data": "Email", "autoWidth": true },
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWidth": true },
                    { "data": "Password", "autoWidth": true },
                    {
                        "data": "Id", width: "50px", "render": function (data) {
                            return '<a class="popup" href= "/home/save/'+data+'">Edit</a> ';
                        }
                    },

                      {
                        "data": "Id", width: "50px", "render": function (data) {
                            return '<a class="popup" href= "/home/delete/' + data + '">Delete</a> ';
                        }
                    }
                ],
                "columnDefs": [
                    {"visible": false, "targets":[0], "searchable":true}
                ]
            })

            $(".tablecontainer").on('click', 'a.popup', function (e) {
                OpenPopUp($(this).attr('href'));
                e.preventDefault();
            });

            function OpenPopUp(pageUrl) {
                var $pageContent = $("<div/>");
                $pageContent.load(pageUrl);

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent, function () {
                        $("popupForm", $pageContent).removeData('validator');
                        $("popupForm", $pageContent).removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse('form');
                    })
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        modal: true,
                        title: "Popup Dialog",
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                table.ajax.reload();
                            }
                        }

                    });

                    e.preventDefault();
                });

                $dialog.dialog('open');
            }
        });
    </script>
}

